.registerContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    font-family: 'Nova Square', cursive;
}

.logoContainer {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    place-items: center;
    background: black;
}

.logoContainer img {
    width: 100%;
    height: auto;
    max-width: 800px;
}

.formContainer {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    place-items: center;
}

.formContainer h1 {
    margin-bottom: 3rem;
}

.formContainer > :last-child {
    margin-top: 2rem;
}

.inputElements input,
.inputElements select {
    margin-bottom: 1rem;
}

.inputElements div div {
    margin-bottom: 1rem;
}

form > :last-child {
    margin-top: 2rem;
}