.container {
    height: 40vh;
    width: 100%;
}

.logoTeamNameContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 3rem;
    padding: 4rem;
}

.logo {
    width: 9.375rem;
    height: 9.375rem;
    border-radius: 50%;
    margin-right: 5rem;
    box-shadow: 5px 5px 5px #000;
}

.homeContainer {
    display: flex;
    justify-content: center;
    place-items: center;
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.playerListContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    overflow-y: auto;
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
}

.defaultMessage {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    place-items: center;
    border: 3px solid black;
}

.playerScoreContainer{
    width: 50%;
    height: 100%;
    text-align: center;
}

.playerCard {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 1rem;
    border-bottom: 3px solid black;
}

.playerInfo {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    padding: 2rem;
}

.playerInfo > p {
    padding: 0;
    margin: 0;
}

.flexEnd {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.flexEnd > :first-child {
    margin-top: 1%;
    width: 120px;
    height: 40px;
    border-radius: 6%;
}

.addPlayerContainer {
    display: flex;
    justify-content: space-between;
    place-items: center;
    margin: 2rem 7rem; 
}

.addPlayerContainer > :first-child {
    padding: 1rem;
}

.addPlayerContainer > :last-child {
    padding: 1rem;
    visibility: hidden;
}

.addPlayerSelect {
    visibility: hidden;
}

.addPlayerSelect select {
    width: 50vw;
    height: 3rem; 
}

.coachName {
    text-align: center;
    margin-bottom: 1rem;
    font-style: italic;
}

