@model SportsThemesBackend.Models.Team

@{
    ViewData["Title"] = "Edit Team";
}

<h1>Edit Team</h1>

<hr />

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h4>Editing <i>@Model.TeamName</i></h4>
        <hr />
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TeamName" />
            <div class="form-group">
                <label asp-for="TeamName" class="control-label"></label>
                <input asp-for="TeamName" class="form-control" />
                <span asp-validation-for="TeamName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoachId" class="control-label"></label>
                <select asp-for="CoachId" class="form-control" asp-items="ViewBag.Coaches">
                    <option value='' selected>Select a Coach</option>
                </select>
                <span asp-validation-for="CoachId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThemeId" class="control-label"></label>
                <select asp-for="ThemeId" class="form-control" asp-items="ViewBag.Themes">
                    <option value='' selected>Select a Theme</option>
                </select>
                <span asp-validation-for="ThemeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input class="btn btn-success" type="submit" value="Save Team" />
            </div>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>

<hr />

<div>
    <a class="btn btn-dark" asp-action="Index">Back to List of Teams</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
